<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1 style="color: black;">New Post</h1>
    <form method = "post" action="/posts">
        <input type="text" name="username" placeholder="username">
        <br>
       <textarea name="content" id="content"  placeholder="content"></textarea>
       <br>
       <input type="text" name="img" id="image " placeholder="input image by url">
       <br>
        <button type="submit">Post</button>
        </form>

    
</body>
</html>